# Predicting Housing Prices

## Imports

In [10]:
import numpy as np
import pandas as pd

## Get Data

In [9]:
traindf = pd.read_csv('train.csv')

testdf = pd.read_csv('test.csv')

Combinedf = [traindf,testdf]
# For removal of same columns from both df at a same time in Data Cleansing

## Analyse the Data

In [37]:
traindf.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [38]:
#traindf.describe()

In [32]:
#traindf.columns.values

In [42]:
#traindf.info()
##For different datatypes of columns

In [30]:
traindf['MSSubClass'].astype('category').head()

0    60
1    20
2    60
3    70
4    60
Name: MSSubClass, dtype: category
Categories (15, int64): [20, 30, 40, 45, ..., 120, 160, 180, 190]

### Seperate Labels and Train Data

In [6]:
Y= traindf['SalePrice']
Y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [7]:
X=traindf.iloc[:,0:80]
X.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

## Preprocessing

This has 2 steps (as of now)
1. Categrical to numerical vectors (get_dummies)
2. Handling missing values

In [43]:
pd.get_dummies(traindf.iloc[:,1:10]).head()
# Automatically Converts categorical Data to 0s and 1s

,MSSubClass,LotFrontage,LotArea,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Street_Grvl,Street_Pave,...,LotShape_IR1,LotShape_IR2,LotShape_IR3,LotShape_Reg,LandContour_Bnk,LandContour_HLS,LandContour_Low,LandContour_Lvl,Utilities_AllPub,Utilities_NoSeWa
0,60,65.0,8450,0,0,0,1,0,0,1,...,0,0,0,1,0,0,0,1,1,0
1,20,80.0,9600,0,0,0,1,0,0,1,...,0,0,0,1,0,0,0,1,1,0
2,60,68.0,11250,0,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,1,0
3,70,60.0,9550,0,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,1,0
4,60,84.0,14260,0,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,1,0

## Cleaning